{% extends 'base.html' %}
{% block title %}
    <title>uploaded image</title>
{% endblock title %}

{% block body %}
    <div class="container">
    
        <pre
            style="text-align: start; font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;">
                Farmers stand as the unsung heroes of civilization, weaving the intricate tapestry of sustenance that nourishes
                humanity. Through their toil and dedication, they cultivate the very essence of life itself: food. With weathered hands
                and steadfast resolve, they sow seeds of hope into the fertile earth, reaping the bounty that sustains nations. Their
                fields, a testament to resilience, yield golden grains, vibrant fruits, and verdant vegetables, each harvest a symphony
                of nature's abundance. From the crack of dawn to the twilight hours, farmers labor tirelessly, their connection to the
                land deep-rooted and unwavering. Their commitment transcends mere sustenance; it embodies a sacred duty to feed the
                hungry, to nourish communities, and to sustain the delicate balance between humanity and the earth. Indeed, farmers
                fulfill not only our physical hunger but also our spiritual longing for connection, reminding us of the profound
                significance of the humblest of seeds in nourishing both body and soul.
    
            </pre>
        <img src="{{ url_for('static', filename='uploads/' + filename) }}" alt="Uploaded Image">
    </div>
{% endblock body %}